@page
@model WebApp.Pages.Withdrawal.DetailsModel
@foreach (var transferModel in Model.WithdrawalModels)
{
    <p>@transferModel.Id - @transferModel.UserID вывел @transferModel.Sum rub @transferModel.DateTime</p>
}

