@page
@model WebApp.Pages.PaidSubscription.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

        <form asp-controller="Subscribe" asp-action="FollowToProject" >
            <input type="submit"></input>
        </form>
