@page
@model WebApp.Pages.PaidSubscription.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post" asp-controller="Subscribe" asp-action="FollowToProject" asp-area="Controller"  >
    <input type="submit"></input>
</form>

