@page
@model WebApp.Pages.BankAccountInputtingModel

<div class="credit-card container">
    <form method="post">
        <div class="row credit-info">
            <div class="col-auto">
                <input name="number" type="text" placeholder="xxxx xxxx xxxx xxxx" class="input-credit-card form-control"/>
            </div>
            <div class="col-auto">
                <input name="refererLink" type="hidden" value="@ViewData["Referer"]"/>
                <input type="submit" asp-page-handler="AddBankAccount" class="btn btn-add-card"/>
            </div>
        </div>
    </form>
</div>