@page
@model WebApp.Pages.CompanySettings

<div class="container">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="company-form" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="CompanyId" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Input.NewUserId"></label>
                    <input asp-for="Input.NewUserId" class="form-control"/>
                    <span asp-validation-for="Input.NewUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar"></label>
                    <div>
                        @if (Model.AvatarPath != null)
                        {
                            <img src="/@Model.AvatarPath" alt="avatar">
                        }
                    </div>
                    <input asp-for="Avatar" class="form-control"/>
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <button id="update-company-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>