@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Models.Identity
@model WebApp.Pages.CompanyProfile

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            @await Html.PartialAsync("Shared/_CreatorPreviewPartial", Model.CompanyModel)
        </div>
        <div class="col" style="margin-top: 10px">
            <div class="row row-cols-4">
                        @foreach (var user in Model.CompanyModel.Users)
                        {
                            <div class="col">
                                @await Html.PartialAsync("Shared/_UserMiniPreviewPartial", user)
                            </div>
                        }
            </div>
        </div>
    </div>
</div>

@if (Model.CompanyModel.Latitude > 0 && Model.CompanyModel.Longitude > 0)
{
    <div class="container">
        <p>
            <a class="btn btn-main" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Office
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div id="map" class="card card-body" style="height: 800px;"></div>
        </div>
    </div>
}

<div class="projects-slider container">
    @foreach (var project in Model.CompanyModel.Projects)
    {
        @await Html.PartialAsync("Shared/_ProjectMiniPreviewPartial", project)
    }
</div>

@section Scripts
{
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ed9ee632-4f57-4dd1-ad11-59fae15159cd&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            let latitude = parseFloat("@Model.CompanyModel.Latitude".replace(",", "."));
            let longitude = parseFloat("@Model.CompanyModel.Longitude".replace(",", "."));
            
            let myMap = new ymaps.Map("map", {
                center: [latitude, longitude],
                zoom: 11
            });
    
            let myGeoObject = new ymaps.Placemark([latitude, longitude]);
    
            let myClusterer = new ymaps.Clusterer(
              {clusterDisableClickZoom: false}
            );
            myClusterer.add(myGeoObject);
            myMap.geoObjects.add(myClusterer);
        }
    </script>
}
