@page
@using WebApp.Models
@using Microsoft.AspNetCore.Identity
@model WebApp.Pages.CompanyProfile

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@await Html.PartialAsync("Shared/_CreatorPreviewPartial", Model.CompanyModel)

@foreach (var user in Model.CompanyModel.Users)
{
    @await Html.PartialAsync("Shared/_UserMiniPreviewPartial", user)
}

@foreach (var project in Model.CompanyModel.Projects)
{
    @await Html.PartialAsync("Shared/_ProjectMiniPreviewPartial", project)
}
@{
    //data for subscription
    var userId = (await UserManager.GetUserAsync(User)).UserId;
}
<form method="post" asp-controller="Subsribe"  asp-action="SubscribeToCompany" asp-route-companyId="@Model.CompanyModel.Id" asp-route-userId="@userId">
    <button type="submit">Follow</button>
</form>
