@page
@model WebApp.Pages.CompanySettings
@{
    ViewData["Title"] = "Company Settings";
}

<div class="container">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="company-form" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="CompanyId" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Input.NewUserId"></label>
                    <input asp-for="Input.NewUserId" class="form-control"/>
                    <span asp-validation-for="Input.NewUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Coordinates"></label>
                    <input asp-for="Input.Coordinates" class="form-control"/>
                    <span asp-validation-for="Input.Coordinates" class="text-danger"></span>
                    <p>
                        <a class="btn btn-main" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Choose a location
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div id="map" class="card card-body" style="height: 500px;"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar"></label>
                    <div>
                        @if (Model.AvatarPath != null)
                        {
                            <img src="/@Model.AvatarPath" alt="avatar" style="max-width: 300px">
                        }
                    </div>
                    <div class="input-group mb-3" style="max-width: 400px; margin-top: 10px">
                        <div class="custom-file">
                            <input asp-for="Avatar" type="file" class="custom-file-input" name="avatar" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <button id="update-company-button" type="submit" class="btn btn-primary" style="margin-bottom: 10px">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ed9ee632-4f57-4dd1-ad11-59fae15159cd&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            let latitude = parseFloat("@Model.Latitude".replace(",", "."));
            let longitude = parseFloat("@Model.Longitude".replace(",", "."));
            
            let myMap = new ymaps.Map("map", {
                center: [latitude, longitude],
                zoom: 11
            });
    
            let myGeoObject = new ymaps.Placemark([latitude, longitude]);
    
            let myClusterer = new ymaps.Clusterer(
              {clusterDisableClickZoom: false}
            );
            myClusterer.add(myGeoObject);
            myMap.geoObjects.add(myClusterer);
            
            myMap.events.add('click', function (e) {
                let coords = String(e.get("coords"));
                let result = coords.split(',')[0] + " " + coords.split(',')[1];
                document.getElementById("Input_Coordinates").value = result;
            });
        }
    </script>
}