@page
@model WebApp.Pages.Creators

<form method="get">
    <div>
        <input type="text" name="searchString" placeholder="What are you searching for?">
    </div>
    <div>
        <label>Users</label>
        <input type="checkbox" name="needUsers" checked>
    </div>
    <div>
        <label>Projects</label>
        <input type="checkbox" name="needProjects" checked>
    </div>
    <div>
        <label>Companies</label>
        <input type="checkbox" name="needCompanies" checked>
    </div>
    <button>Search</button>
</form>



@foreach (var creator in Model.CreatorModels)
{
    @await Html.PartialAsync("Shared/_CreatorPreviewPartial", creator)
}