@page
@model WebApp.Pages.Feed
@{
    ViewData["Title"] = "Feed";
}

@if (Model.PostModels is null || !Model.PostModels.Any())
{
    <div class="container" style="margin-top: 40px">
        <h3>There are no posts here yet</h3>
        <p>You are not subscribed to anyone...</p>
        <a class="btn btn-main" asp-area="" asp-page="/Creators" style="max-width:220px">Find creators</a>
    </div>
}
else
{
    <div class="container">
        @foreach (var post in Model.PostModels)
        {
            @await Html.PartialAsync("Shared/_PostPartial", post)
        }
    </div>
}