@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Create an account</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Developers/Index">Find creators</a>