@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid home-main">
    <div class="container">
        <h2>It's easy to find like-minded people</h2>
        <p>Devpoint is a web application for developers that allows you to conveniently place your work, development processes, code details and other information in your profile.</p>
        <p>Receive funding from subscribers and create even cooler projects. Chat in chats and leave comments.</p>
        <a class="btn create" id="register" asp-area="Identity" asp-page="/Account/Register">Create an account</a>
        <a class="btn find" asp-area="" asp-page="/Creators">Find creators</a>
    </div>
</div>