@page
@model WebApp.Pages.Pricing
@{
    ViewData["Title"] = "Pricing";
}

<div class="container">
    <h1 style="text-align: center">Pricing</h1>
    <div class="container-xl row" style="margin-top: 60px">
        <div class="col price">
            <h1 style="margin-top: 20px">Basic</h1>
            <p>Gives access to paid user publications</p>
        </div>

        <div class="col price">
            <h1 style="margin-top: 20px">Improved</h1>
            <p>Gives access to free and paid user publications</p>
            <p>Adds to conversation with the author and other paid author subscribers</p>
        </div>

        <div class="col price">
            <h1 style="margin-top: 20px">Pro</h1>
            <p>Gives access to free and paid user publications</p>
            <p>Adds to conversation with the author and other paid author subscribers</p>
            <p>Gives access to super publications</p>
        </div>
    </div>
</div>