@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Models.Identity
@model WebApp.Pages.ProjectProfile

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@await Html.PartialAsync("Shared/_CreatorPreviewPartial", Model.ProjectModel)

@foreach (var user in Model.ProjectModel.Users)
{
    @await Html.PartialAsync("Shared/_UserMiniPreviewPartial", user)
}

@if (_signInManager.IsSignedIn(User) &&
     !Model.ProjectModel.Users.Select(u => u.Id).Contains((await _userManager.GetUserAsync(User)).UserId))
{
    <form method="post">
        <input type="hidden" name="id" value="@Model.ProjectModel.Id">
        <input type="text" name="text" placeholder="Whats new?">
        <button type="submit">Send</button>
    </form>
}

@foreach (var post in Model.PostModels)
{
    @await Html.PartialAsync("Shared/_PostPartial", post)
}
