@page
@model WebApp.Pages.ProjectSettings
@{
    ViewData["Title"] = "Project Settings";
}


<div class="container">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="project-form" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ProjectId" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Input.NewUserId"></label>
                    <input asp-for="Input.NewUserId" class="form-control"/>
                    <span asp-validation-for="Input.NewUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar"></label>
                    <div>
                        @if (Model.AvatarPath != null)
                        {
                            <img src="/@Model.AvatarPath" alt="avatar" style="max-width: 300px">
                        }
                    </div>
                    <div class="input-group mb-3" style="max-width: 400px; margin-top: 10px">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="avatar" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <button id="update-project-button" type="submit" class="btn btn-primary" style="margin-bottom: 10px">Save</button>
            </form>
        </div>
    </div>
</div>