@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@model WebApp.Pages.UserProfile

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@await Html.PartialAsync("Shared/_CreatorPreviewPartial", Model.UserModel)

@foreach (var project in Model.UserModel.Projects)
{
    @await Html.PartialAsync("Shared/_ProjectMiniPreviewPartial", project)
}

@if (SignInManager.IsSignedIn(User) && (await UserManager.GetUserAsync(User)).UserId == Model.UserModel.Id)
{
    <form method="post">
        <input type="text" name="text" placeholder="Whats new?">
        <button type="submit">Send</button>
    </form>
}

@foreach (var post in Model.PostModels)
{
    @await Html.PartialAsync("Shared/_PostPartial", post)
}