@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Models.Identity
@model WebApp.Pages.UserProfile
@{
    ViewData["Title"] = "Profile";
}

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<div class="container">
@await Html.PartialAsync("Shared/_CreatorPreviewPartial", Model.UserModel)
</div>

<div class="projects-slider container">
@foreach (var project in Model.UserModel.Projects)
{
    @await Html.PartialAsync("Shared/_ProjectMiniPreviewPartial", project)
}
</div>

<div class="container">
    @foreach (var post in Model.PostModels)
    {
        @await Html.PartialAsync("Shared/_PostPartial", post)
    }
</div>

