.tags span{
    background-color: #E6E6E6;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.img-preview{
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    border-radius: 40px;
}

.info-card{
    max-width: 400px;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #fafafa;
}

.btn-follow{
    margin-bottom: 2px;
    background-color: #4C45C2;
    color: white;
    font-weight: bold;
}

.btn-subscribe{
    background-color: #1E1E2C;
    color: white;
    font-weight: bold;
}

.btn-subscribe:hover{
    color: #4C45C2 !important;
}