/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import "root.css";
@import "home.css";
@import "navbar.css";
@import "login.css";
@import "register.css";
@import "creators.css";
@import "info.css";
@import "post.css";

*
{
  font-family: var(--font-main);
  font-weight: normal;
}

html,body {
  position: relative;
}

header{
  position: fixed;
  width: 100%;
}

main{
  padding-top: 60px;
}

footer{
  height: 120px;
  background-color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container-fluid{
  padding: 0;
}

.btn-main{
  margin: 27px auto 14px auto;
  display: block;
  background-color: var(--btn-main-color) !important;
  color: white;
  font-weight: bold;
}

.text-center{
  text-align: center !important;
}