@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Models.Identity
@model WebApp.Pages.VirtualPurse.IndexModel

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@if (_signInManager.IsSignedIn(User))
{
    <p>Virtual account: @Model.VirtualPurse.Money </p>
    <form method="post" asp-route-money="@Model.VirtualPurse.Money">
        <button type="submit">Withdraw money</button>
    </form>
}