@page
@model WebApp.Pages.BankAccount.IndexModel

@foreach (var bankAccount in Model.BankAccountModels)
{
    <p>
        <a asp-page="/BankAccount/Details" asp-route-userId="@bankAccount.UserId">@bankAccount.UserId - @bankAccount.Number</a>
    </p>
    <form method="post">
        <label>Добавить:</label>
        <input type="number" name="userId"/>
        <input type="submit" value="Отправить"/>
    </form>
}