@using Microsoft.AspNetCore.Identity
@using WebApp.Models.Identity
@using WebApp.Models.Subscription
@using WebApp.Services.Developer
@using WebApp.Services.Files
@using WebApp.Services.Subscription
@model WebApp.Models.Posts.PostModel

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@inject ISubscriptionService _subscriptionService
@inject IDeveloperService _developerService;
@inject IFileService _fileService;

@{
    var user = _signInManager.IsSignedIn(User) ? await _userManager.GetUserAsync(User) : null;
    var cover = await _fileService.GetCover(Model.Id);
}

@if (await Model.HasUserAccessAsync(user, _subscriptionService, _developerService))
{
    <div>
        <a asp-page="Post" asp-route-id="@Model.Id">@Model.Id - @Model.Text</a>
        <img src="@cover?.Path" alt="cover">
    </div>
}
else
{
    <div>
        Нет доступа
    </div>
}
