@page
@model WebApp.Pages.User.Companies

@foreach (var company in Model.CompanyModels)
{
    <p>
        <a asp-page="/Company/Details" asp-route-id="@company.Id">@company.Id - @company.Name</a>
    </p>
}